*{
    margin: 0;
    padding: 0;
}

body{
    font-family:monospace,sans-serif;
    font-size: 100%;
    background-color: #f0ffba;
    background-image: src="images/kadai08_back.jpg";
    background-position: left top;
}

#container{
    width: 800px;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#mainVisual{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.drink{
    position: relative;
    z-index: 1;
    width: 250px;
    margin-top:45px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 0;
}

.drink p{
    font-size: 0.8em;
}

.image img{
    background-color: #fff;
    padding:3px;
    border:1px solid #7d7760;
}

.item{
    text-align: center;
    padding: 10px;
}

.price{
    color: #ff41d0;
    font-weight:bold;
}

.icon{
    position: absolute;
    top:30px;
    left:30px;
    z-index: 10;
    
}

.sns{
    position: fixed;
    left:0;
    top:20px;
    z-index: 100;
}

#footer{
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px dotted #666;
}