*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    border: none;

}

#container{
    width: 750px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

#globalNavi{
    display: flex;
    width: 750px;
    height: 60px;
    margin-bottom: 10px;
}

#globalNavi li{
    width: 150px;
    height: 60px;
    background-color: #4e2519;
    text-align: center;
    line-height: 60px;
}

#main{
    display:flex;
}

.content-left{
    width: 500px;
}

.content-right{
    width: 250px;
}

.title{
    width: 98%;
    height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #541e0a;
}

.item-wrap{
    display: flex;
}

.item{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.item img{
    background-color: #fff;
    padding: 2px;
    border: 1px solid #381909;
}

.price{
    color: #f09;
    font-size: 12px;
}

#footer{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #333;    
}

#copyright{
    font-size: 0.8em;
    text-align: center;
}